<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fast texto-justificado">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sed omnis consectetur incidunt voluptas, delectus aut fugit culpa possimus, aperiam praesentium consequatur, accusamus similique velit dignissimos! Mollitia consequuntur rem amet!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sed omnis consectetur incidunt voluptas, delectus aut fugit culpa possimus, aperiam praesentium consequatur, accusamus similique velit dignissimos! Mollitia consequuntur rem amet!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sed omnis consectetur incidunt voluptas, delectus aut fugit culpa possimus, aperiam praesentium consequatur, accusamus similique velit dignissimos! Mollitia consequuntur rem amet!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sed omnis consectetur incidunt voluptas, delectus aut fugit culpa possimus, aperiam praesentium consequatur, accusamus similique velit dignissimos! Mollitia consequuntur rem amet!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sed omnis consectetur incidunt voluptas, delectus aut fugit culpa possimus, aperiam praesentium consequatur, accusamus similique velit dignissimos! Mollitia consequuntur rem amet!
</p>
