<h2>Votar por el juego del año</h2>
<hr />

<div class="card-columns">
  <div class="card bg-dark" *ngFor="let juego of juegos">
    <img [src]="juego.url" class="card-img-top" alt="juego.name" />
    <div class="card-body">
      <h5 class="card-title">{{ juego.name }}</h5>
      <p class="card-text">
        Clik aqui para votar por este juego
      </p>

      <button
        class="btn btn-outline-primary btn-block"
        (click)="votarJuego(juego)"
      >
        Votar
      </button>
    </div>
  </div>
</div>
